build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
*.log

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

publish_all.sh
publish_curseforge_version.sh
publish_modrinth_version.sh