# TEMP until automatic conversion from AW works again
public-f net.minecraft.client.KeyMapping release()V
public-f net.minecraft.client.KeyMapping isDown
public-f net.minecraft.client.KeyMapping key
public-f net.minecraft.client.KeyMapping ALL
public-f net.minecraft.client.ToggleKeyMapping needsToggle
public net.minecraft.client.gui.screens.inventory.MerchantScreen$TradeOfferButton